@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Nunito|Playfair+Display|Source+Code+Pro');

body {
  font-family: 'Playfair Display', sans-serif !important;
}

#main {
}

#main-body {
    background-color: #343a40;
}

#footer {
    margin-top: 2rem;
}

#me,#you {
    background-color: #fff;
    padding-top: 5rem;
}

#me-image {
    max-height: 300px;
}

#you-image {
    font-family: 'Source Code Pro', sans-serif !important;
    font-size: 5rem;
    max-height: 300px;
    padding-bottom: 2rem;
}

#me-image-bottom,#you-image-top {
    padding-top: 3rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
}

#description-control {
}

#description-container {
    padding-left: 0;
    padding-right: 0;
}

#description-toggles-left {
    padding: 0;
    color: #000;
    background-color: #17a2b8;
}

#description-toggles-left-nav {
}

#description-toggles-right {
    padding: 1rem;
}

#description-toggles-right {
    background-color: #343a40;
    border-color: #343a40;
}

#description-toggles-right .btn,button:hover {
    border-radius: 0;
    background-color: #343a40;
    border-color: #343a40;
}

#description-content {
    background-color: #17a2b8;
}

#social-links {
    padding-top: 1rem;
    font-size: 2rem;
}

#social-links a {
    color: #fff; /* #17a2b8; */
}

.navbar-dark .navbar-brand {
    color: #fff;
    font-size: 1.5rem;
}

.nav-link {
    font-size: 1.5rem;
}

hr {
    border-top: .25rem solid rgba(0,0,0,.1);
}

.card-no-border {
    border: none;
    border-radius: 0;
    background-color: #17a2b8;
}

.btn-white-top {
    border-top: 1px solid white !important;
    border-radius: 0;
}

.navbar-toggler {
    border-color: #343a40 !important;
}

.input-bottom-border {
    border-bottom: 2px solid white !important;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    background: transparent !important;
}

.textarea-no-radius {
    border-radius: 0;
}

.testimonials-card {

}

.testimonials-carousel-content {
    min-height: 400px !important;
}

.testimonials-carousel-item {
    margin: 1rem;    
}

.testimonials-info {
    padding-top: 1.5rem;
}

.testimonials-name {
    font-size: 1.5rem;
}

.testimonials-role {
}

.testimonials-quote {
    font-size: 5rem;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}