@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Nunito|Playfair+Display');

body {
  font-family: 'Playfair Display', sans-serif !important;
}

#main {
}

#main-body {
    background-color: #343a40;
}

#footer {
    margin-top: 2rem;
}

#me {
    background-color: #fff;
    padding-top: 5rem;
}

#me-image {
    max-height: 300px;
}

#me-image-bottom {
    padding-top: 3rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
}

#description-control {
}

#description-container {
    padding-left: 0;
    padding-right: 0;
}

#description-toggles-left {
    padding: 0;
    color: #000;
    background-color: #17a2b8;
}

#description-toggles-left-nav {
}

#description-toggles-right {
    padding: 1rem;
}

#description-toggles-right button:hover {
    background-color: #343a40;
    border-color: #343a40;
}

#description-content {
    background-color: #17a2b8;
}

#social-links {
    padding-top: 1rem;
    font-size: 2rem;
}

#social-links a {
    color: #fff; /* #17a2b8; */
}

.navbar-dark .navbar-brand {
    color: #fff;
    font-size: 1.5rem;
}

.nav-link {
    font-size: 1.5rem;
}

hr {
    border-top: .25rem solid rgba(0,0,0,.1);
}

.card-no-border {
    border: none;
    border-radius: 0;
    background-color: #17a2b8;
}

.btn-white-top {
    border-top: 1px solid white !important;
    border-radius: 0;
}

.navbar-toggler {
    border-color: #343a40 !important;
}