#main-body {
    /* background-color: #fff; */
}

#top {
    background-color: #fff;
}

#footer {
    margin-top: 2rem;
}

#me-image {
    max-height: 300px;
    border-top-left-radius: 5rem !important;
    border-top-right-radius: 5rem !important;
    border-bottom-right-radius: 5rem !important;
    border-bottom-left-radius: 5rem !important;
    border: .25rem solid #17a2b8;
    margin-bottom: 1rem;
}

#social-links {
    padding-top: 1rem;
    font-size: 1.5rem;
}

#social-links a {
    color: #17a2b8;
}

.navbar-dark .navbar-brand {
    color: #fff;
    font-size: 1.5rem;
}

.nav-link {
    font-size: 1.5rem;
}

hr {
    border-top: .25rem solid rgba(0,0,0,.1);
}